# Ignore the shuyangli94 data folder
shuyangli94/

# Common Python files to ignore
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
general/
mvr/

# Generated visualization files

# IDE specific files
.vscode/
.idea/
*.swp